#  6.1 Descriptive Analysis & Data Cleaning

### This script contains the following:

#### 1. Importing libraries
#### 2. Importing data & descriptive analysis
#### 3. Data Wrangling
#### 4. Consistency checks
    Finding missing values
    Checking mixed type columns
    Finding duplicates
#### 5. Exporting dataframe

## 1. Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

## 2. Importing data & descriptive analysis

In [2]:
# define the folder path
path = r'/Users/yusufsalk/Documents/Chocolate Bar Analysis'

In [3]:
path

'/Users/yusufsalk/Documents/Chocolate Bar Analysis'

In [4]:
# import data
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'flavors_of_cacao.csv'), index_col = False)

In [5]:
# check the result
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [6]:
df.shape

(1795, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [8]:
# checking unique values in the column
df['Bean\nType'].unique()

array(['\xa0', 'Criollo', 'Trinitario', 'Forastero (Arriba)', 'Forastero',
       'Forastero (Nacional)', 'Criollo, Trinitario',
       'Criollo (Porcelana)', 'Blend', 'Trinitario (85% Criollo)',
       'Forastero (Catongo)', 'Forastero (Parazinho)',
       'Trinitario, Criollo', 'CCN51', 'Criollo (Ocumare)', 'Nacional',
       'Criollo (Ocumare 61)', 'Criollo (Ocumare 77)',
       'Criollo (Ocumare 67)', 'Criollo (Wild)', 'Beniano', 'Amazon mix',
       'Trinitario, Forastero', 'Forastero (Arriba) ASS', 'Criollo, +',
       'Amazon', 'Amazon, ICS', 'EET', 'Blend-Forastero,Criollo',
       'Trinitario (Scavina)', 'Criollo, Forastero', 'Matina',
       'Forastero(Arriba, CCN)', 'Nacional (Arriba)',
       'Forastero (Arriba) ASSS', 'Forastero, Trinitario',
       'Forastero (Amelonado)', nan, 'Trinitario, Nacional',
       'Trinitario (Amelonado)', 'Trinitario, TCGA', 'Criollo (Amarru)'],
      dtype=object)

## 3. Data wrangling

In [9]:
# changing columns name
df.rename(columns = {'Company \n(Maker-if known)' : 'company_name', 
                     'Specific Bean Origin\nor Bar Name' : 'specific_bean_origin', 
                     'REF' : 'ref', 
                     'Review\nDate' : 'review_date', 
                     'Cocoa\nPercent' : 'cocoa_percentage', 
                     'Company\nLocation' : 'company_location', 
                     'Rating' : 'rating', 
                     'Bean\nType' : 'bean_type', 
                     'Broad Bean\nOrigin' : 'broad_bean_origin'}, inplace = True)

In [10]:
# check the result
df.head()

,Company \n(Maker-if known),specific_bean_origin,ref,review_date,cocoa_percentage,company_location,rating,bean_type,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [11]:
# changing the first column name
new_title = 'company_name'
df.columns.values[0] = new_title
df.rename(columns = {'company_name' : 'company_name'}, inplace = True)

In [12]:
# check the result
df.head()

,company_name,specific_bean_origin,ref,review_date,cocoa_percentage,company_location,rating,bean_type,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [13]:
df['specific_bean_origin'].value_counts()

Madagascar                        57
Peru                              45
Ecuador                           42
Dominican Republic                37
Venezuela                         21
                                  ..
Conacado, #213, DR, -C             1
Sambirano Valley, #215, MR, MC     1
Chuao, #218, MR, MC                1
Chuao, #217, DR, MC                1
Brazil, Mitzi Blue                 1
Name: specific_bean_origin, Length: 1039, dtype: int64

In [14]:
df['broad_bean_origin'].value_counts()

Venezuela                214
Ecuador                  193
Peru                     165
Madagascar               145
Dominican Republic       141
                        ...
Peru, Belize               1
Peru, Mad., Dom. Rep.      1
PNG, Vanuatu, Mad          1
Trinidad, Ecuador          1
Venezuela, Carribean       1
Name: broad_bean_origin, Length: 100, dtype: int64

 It seems that two columns look similar and "broad_bean_origin" contains more consistent values.

In [15]:
# changing the data type of the "cocoa_percentage" column to float
df['cocoa_percentage'] = df['cocoa_percentage'].apply(lambda x: float(x.strip('%')) / 100.0)

In [16]:
df.head()

,company_name,specific_bean_origin,ref,review_date,cocoa_percentage,company_location,rating,bean_type,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,0.63,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,0.70,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,0.70,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,0.70,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,0.70,France,3.50,,Peru

## 4. Consistency checks

In [17]:
df.describe()

               ref  review_date  cocoa_percentage       rating
count  1795.000000  1795.000000       1795.000000  1795.000000
mean   1035.904735  2012.325348          0.716983     3.185933
std     552.886365     2.927210          0.063231     0.478062
min       5.000000  2006.000000          0.420000     1.000000
25%     576.000000  2010.000000          0.700000     2.875000
50%    1069.000000  2013.000000          0.700000     3.250000
75%    1502.000000  2015.000000          0.750000     3.500000
max    1952.000000  2017.000000          1.000000     5.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_name          1795 non-null   object
 1   specific_bean_origin  1795 non-null   object
 2   ref                   1795 non-null   int64
 3   review_date           1795 non-null   int64
 4   cocoa_percentage      1795 non-null   float64
 5   company_location      1795 non-null   object
 6   rating                1795 non-null   float64
 7   bean_type             1794 non-null   object
 8   broad_bean_origin     1794 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

### Finding missing values

In [19]:
# finding missing values
df.isnull().sum()

company_name            0
specific_bean_origin    0
ref                     0
review_date             0
cocoa_percentage        0
company_location        0
rating                  0
bean_type               1
broad_bean_origin       1
dtype: int64

It seems that there aren't many null values in the dataset.

In [20]:
df.sample(10)

,company_name,specific_bean_origin,ref,review_date,cocoa_percentage,company_location,rating,bean_type,broad_bean_origin
964,Letterpress,"La Red, Guaconejo",1566,2015,0.70,U.S.A.,3.25,,Domincan Republic
1755,Woodblock,Sambirano,951,2012,0.70,U.S.A.,3.25,Trinitario,Madagascar
494,Dandelion,"Elvesia, 2011",915,2012,0.70,U.S.A.,3.75,,Dominican Republic
1057,Marou,Tien Giang,895,2012,0.80,Vietnam,3.00,Trinitario,Vietnam
1407,Rozsavolgyi,Porcelana,717,2011,0.71,Hungary,2.50,,Venezuela
1023,Manoa,"Waiahole, O'ahu",1089,2013,0.72,U.S.A.,3.75,,Hawaii
1271,Pascha,Peru,1137,2013,0.70,Peru,2.75,,Peru
1675,Two Ravens,Peru,1740,2016,0.60,U.S.A.,3.00,Criollo,Peru
996,Madre,Brazil,1085,2013,0.70,U.S.A.,3.50,,Brazil
798,Heirloom Cacao Preservation (Zokoko),"Alto Beni, Upper Rio Beni, 2015",1744,2016,0.68,U.S.A.,3.75,"Amazon, ICS",Bolivia

In this sample, we can see that there are a lot of blanks in the bean_type column.

In [21]:
# spotting null values in the bean_type column

list(df['bean_type'][0:5])

['\xa0', '\xa0', '\xa0', '\xa0', '\xa0']

In [22]:
df = df.applymap(lambda x: np.nan if str(x).strip()=="\xa0" else x)
df = df.applymap(lambda x: np.nan if str(x).strip()=="" else x)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_name          1795 non-null   object
 1   specific_bean_origin  1795 non-null   object
 2   ref                   1795 non-null   int64
 3   review_date           1795 non-null   int64
 4   cocoa_percentage      1795 non-null   float64
 5   company_location      1795 non-null   object
 6   rating                1795 non-null   float64
 7   bean_type             907 non-null    object
 8   broad_bean_origin     1721 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

There are 888 null values in the bean_type column. Since this is nearly half of the data, imputing these null values with the mean or median can be skewed the results. Therefore, I'll drop this column.

In [24]:
# dropping the column
df = df.drop(columns = ['bean_type'])

In [25]:
# check the result
df.head()

,company_name,specific_bean_origin,ref,review_date,cocoa_percentage,company_location,rating,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,0.63,France,3.75,Sao Tome
1,A. Morin,Kpime,1676,2015,0.70,France,2.75,Togo
2,A. Morin,Atsane,1676,2015,0.70,France,3.00,Togo
3,A. Morin,Akata,1680,2015,0.70,France,3.50,Togo
4,A. Morin,Quilla,1704,2015,0.70,France,3.50,Peru

### Checking mixed type columns

In [26]:
# The function for checking mixed-type columns
for col in df.columns.tolist():
    weird = (df[[col]].applymap(type)!= df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df[weird]) > 0:
        print(col)

broad_bean_origin

In [32]:
# changing data types
df['company_name'] = pd.Categorical(df['company_name'])
df['specific_bean_origin'] = pd.Categorical(df['specific_bean_origin'])
df['company_location'] = pd.Categorical(df['company_location'])
df['broad_bean_origin'] = pd.Categorical(df['broad_bean_origin'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_name          1795 non-null   category
 1   specific_bean_origin  1795 non-null   category
 2   ref                   1795 non-null   int64
 3   review_date           1795 non-null   int64
 4   cocoa_percentage      1795 non-null   float64
 5   company_location      1795 non-null   category
 6   rating                1795 non-null   float64
 7   broad_bean_origin     1795 non-null   category
dtypes: category(4), float64(2), int64(2)
memory usage: 133.9 KB

### Finding duplicates

In [29]:
# checking full duplicates
(df[df.duplicated()]).size

0

In [30]:
df.shape

(1795, 8)

## 5. Exporting dataframe

In [37]:
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'chocolate_bar.pkl'))